* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: pink;
}

.container {
    box-shadow: 2px 2px 2px 5px;
    max-width: 450px;
    margin: 150px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding:2%;
    text-align: center;
}



h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size:40px;
    text-decoration: underline;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-style: italic;
}

input[type="password"] {
    width: 75%;
    padding: 10px;
    border: 3px solid black;
    border-radius:10%;
    font-size: 20px;
}
input[type="password"]:hover{
    background-color: #ccc;
}

button[type="submit"] {
    width: 50%;
    padding: 2%;
    background-color: purple;
    border-radius: 10% ;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin:auto;
}


button[type="submit"]:hover {
    background-color: #0056b3;
}

.fade-in {
    animation: fadeIn 0.5s ease forwards;
    opacity: 0;
}

.slide-up {
    animation: slideUp 0.5s ease forwards;
    transform: translateY(50px);
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.pulse {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}