body {
    font-family: Arial, sans-serif;
    background-color: pink;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    /* background-repeat: no-repeat; */
}
.navbar {
    background-color: black;
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    text-align: center; /* Center the text */
}

.navbar span {
    color: white;
    padding: 14px 16px;
    display: inline-block; /* Make it inline-block to center text */
}

.navbar span:hover {
    background-color: #ddd;
    color: black;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #333;
    width: 500px;
    text-align: center;
    font-size:x-large;
    animation: fadeInUp 2s ease-out;
    top:50%;
    left:50%;
}

.login-container h2 {
    margin-bottom: 30px;
    color:solid black;
    font-size: xx-large;
    font-family:cursive;
    font-weight:bolder;
}

.logo{
    position:absolute;
    height: 140px;
    width: 416px;
    border: 10px solid black;
    top:1%;
    left:1%;
    border-radius:30px;
    cursor: pointer;
    z-index:1000;
}

.login-form {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    font-style: italic;
    font-display: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: soild black;
    font-display: bold;
    font-variant: normal;
    border:1.5px greenyellow;
}
.login-form .form-group input {
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px greenyellow;
    border-radius: 4px;
    font-size: larger;
    font-family: fantasy;
}

.input-1{
    border:1px solid black;
}

.form-group input {
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px greenyellow;
    border-radius: 4px;
    font-size:larger;
    font-family: fantasy;
}
.showpassword {
    flex: 1;
    padding: 4px;
    border: 1px solid blanchedalmond;
    border-radius: 2px;
    cursor: pointer;
}
.show-password-icon::before {
    content: "U+F340"; /* Unicode for slashed eye symbol */
    font-size: 1.5em; /* Adjust the font size as needed */
}


.form-group button {
    background-color:red;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:x-large
}

.form-group button:hover {
    background-color: #a0457d;
    font-size: larger;
}

.forgot-password {
    margin-top: 20px;
    text-align: center;
}

.additional-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
}

.additional-links a {
    text-decoration:solid;
    color: #007bff;
    cursor: pointer;
}

.additional-links a.clicked {
    color: black;
    font-weight: bold;
    font-style: italic;
}

.fade-in {
    animation: fadeIn 0.5s ease forwards;
    opacity: 0;
}

.slide-up {
    animation: slideUp 0.5s ease forwards;
    transform: translateY(50px);
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.pulse {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.slide-in-left {
    animation: slideInLeft 0.5s ease forwards;
    transform: translateX(-100%);
    opacity: 0;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-right {
    animation: slideInRight 0.5s ease forwards;
    transform: translateX(100%);
    opacity: 0;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.bounce {
    animation: bounce 0.5s ease infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}



.hide{
    display: none;
}

.center-container{
    position: relative;
    right:40px;
    z-index: 1000px;
}

.wheel-and-hamster {
    --dur: 1s;
    position: relative;
    width: 12em;
    height: 12em;
    font-size: 14px;
}

.wheel,
.hamster div,
.spoke {
    position: absolute;
}

.hamster{
    position:relative;

}

.wheel,
.spoke {
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wheel {
    background: radial-gradient(100% 100% at center, hsla(0, 0%, 60%, 0) 47.8%, hsl(0, 0%, 60%) 48%);
    z-index: 2;
}

.hamster {
    animation: hamster var(--dur) ease-in-out infinite;
    top: 50%;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 3.75em;
    transform: rotate(4deg) translate(-0.8em, 1.85em);
    transform-origin: 50% 0;
    z-index: 1;
    top:19px;
}

.hamster__head {
    animation: hamsterHead var(--dur) ease-in-out infinite;
    border-radius: 42%;
    top: 0;
    left: -2em;
    width: 2.5em;
    height: 2.13em;
    transform-origin: 100% 50%;
    background: hotpink;
}

.hamster__ear {
    animation: hamsterEar var(--dur) ease-in-out infinite;
    background: hotpink;
    border-radius: 50%;
    box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
    top: -0.25em;
    right: -0.25em;
    width: 0.75em;
    height: 0.75em;
    transform-origin: 50% 75%;
}

.hamster__eye {
    animation: hamsterEye var(--dur) linear infinite;
    background-color: hsl(0, 0%, 0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1.25em;
    width: 0.5em;
    height: 0.5em;
}

.hamster__nose {
    background: lightpink;
    border: 0.1em solid black;
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.5em;
    left: -0.1em;
    width: 0.4em;
    height: 0.5em;
}

.hamster__body {
    animation: hamsterBody var(--dur) ease-in-out infinite;
    background: hotpink;
    border-radius: 50% 30% 50% 30% / 40% 60% 40% 60%;
    box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) 0.15em -0.5em 0 hsl(30, 90%, 80%);
    top: 5em;
    left: 2em;
    width: 5em;
    height: 3em;
    transform-origin: 17% 50%;
    transform-style: preserve-3d;
    position: relative;
}
.hamster__limb--fr{
    clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
    background-color: hotpink;

}
.hamster__limb--fl {
    clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
    background-color    : hotpink;
}

.hamster__limb--fr {
    animation: hamsterFRLimb var(--dur) linear infinite;
    background-color:hotpink;
  
}

.hamster__limb--fl {
    animation: hamsterFLLimb var(--dur) linear infinite;
    background-color:hotpink;
    transform: rotate(15deg);
}

.hamster__limb--br{
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 70% 90%, 70% 100%, 30% 100%, 40% 90%, 0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
    background-color: hotpink;
}

.hamster__limb--bl {
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 70% 90%, 70% 100%, 30% 100%, 40% 90%, 0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
    background-color: hotpink;
}

.hamster__limb--br {
    animation: hamsterBRLimb var(--dur) linear infinite;

    transform: rotate(-25deg) translateZ(-1px);
    background-color:hotpink;
}

.hamster__limb--bl {
    animation: hamsterBLLimb var(--dur) linear infinite;
    
    transform: rotate(-25deg);
    background-color:hotpink;
}

.hamster__tail {
    animation: hamsterTail var(--dur) linear infinite;
    background: hsl(0, 90%, 85%);
    border-radius: 0.25em 50% 50% 0.25em;
    box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
    top: 1.5em;
    right: -0.5em;
    width: 1em;
    height: 0.5em;
    transform: rotate(30deg) translateZ(-1px);
    transform-origin: 0.25em 0.25em;
    background-color:hotpink;
}

.spoke {
    animation: spoke var(--dur) linear infinite;
    background: radial-gradient(100% 100% at center, hsl(0, 0%, 60%) 4.8%, hsla(0, 0%, 60%, 0) 5%), linear-gradient(hsla(0, 0%, 55%, 0) 46.9%, hsl(0, 0%, 65%) 47% 52.9%, hsla(0, 0%, 65%, 0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
    from,
    to {
        transform: rotate(4deg) translate(-0.8em, 1.85em);
    }

    50% {
        transform: rotate(0) translate(-0.8em, 1.85em);
    }
}

@keyframes hamsterHead {
    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(0);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(8deg);
    }
}

@keyframes hamsterEye {
    from,
    90%,
    to {
        transform: scaleY(1);
    }

    95% {
        transform: scaleY(0);
    }
}

@keyframes hamsterEar {
    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(0);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(12deg);
    }
}

@keyframes hamsterBody {
    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(0);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(-2deg);
    }
}

@keyframes hamsterFRLimb {
    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(50deg) translateZ(-1px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(-30deg) translateZ(-1px);
    }
}

@keyframes hamsterFLLimb {
    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(-30deg);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(50deg);
    }
}

@keyframes hamsterBRLimb {
    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(-60deg) translateZ(-1px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(20deg) translateZ(-1px);
    }
}

@keyframes hamsterBLLimb {
    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(20deg);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(-60deg);
    }
}

@keyframes hamsterTail {
    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(30deg) translateZ(-1px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(10deg) translateZ(-1px);
    }
}

@keyframes spoke {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-1turn);
    }
}

/* Additional styles */


body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}